<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}" id="bootstrap-css" >
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"></link>
    <script th:src="@{/static/js/functions.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Parking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-auto" th:href="@{/orders}" >Current bookings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        History
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/history}">All</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/history/reserved}">Reserved</a></li>
                        <li><a class="dropdown-item" th:href="@{/history/ongoing}">Ongoing</a></li>
                        <li><a class="dropdown-item" th:href="@{/history/completed}">Completed</a></li>
                        <li><a class="dropdown-item" th:href="@{/history/canceled}">Canceled</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/account}" >Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <!--        <aside class="col-sm-3">-->
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mb-4 mt-1">Reserve parking place</h4>
                </header>
                <article class="card-body">
                    <form method="post" th:action="@{/orders/add}" th:object="${parkingLot}">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Enter date </label>
                                <div class="input-group date">
                                    <input type="text" autocomplete="off" class="form-control enterdatepicker" th:field="*{enterDate}">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div style="color: red" th:if="${#fields.hasErrors('enterDate')}"
                                     th:errors="*{enterDate}">Enter Date error
                                </div>
                                <label>Exit date </label>
                                <div class="input-group date">
                                    <input type="text" autocomplete="off" class="form-control exitdatepicker" th:field="*{exitDate}">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div style="color: red" th:if="${#fields.hasErrors('exitDate')}"
                                     th:errors="*{exitDate}">Exit Date error
                                </div>
                                <label>Car number</label>
                                <select th:if="${cars.size() > 0}" class="form-select" aria-label="Default select example"
                                                        name="carNumber">
                                    <option th:each="car : ${cars}"
                                            th:value="${car.getVehicleNumber()}"
                                            th:text="${car.getVehicleNumber()}"></option>
                                </select>
                                <a th:href="@{/vehicles/add}" th:if="${cars.size()<1}">
                                    <br>
                                    <button class="btn btn-primary btn-block" type="button">Add vehicle</button>
                                </a>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" th:if="${cars.size()>0}"> Reserve</button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

            <!--        </aside> &lt;!&ndash; col.// &ndash;&gt;-->
        </div> <!-- row.// -->

    </div>
</div>
</body>
</html>