<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="height">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}" id="bootstrap-css" >
    <link rel="stylesheet" th:href="@{/static/css/main.css}" id="main-css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/functions.js}"></script>
</head>
<body class="bg-image">
<div class="container height">
    <div class="h-75 row align-items-center justify-content-center">
        <div class="col-md-4">
<!--        <aside class="col-sm-3">-->
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mb-4 mt-1" th:text="#{login}">Sign in</h4>
                </header>
                <article class="card-body bg-yellow">
                    <form method="post" th:action="@{/login}">
                        <div style="color: red" th:if="${param.error}" th:text="#{login.error}">Incorrect email or password.</div>
                        <div style="color: green" th:if="${param.logout}" th:text="#{login.logout}">You have been logged out.</div>
                        <div class="form-group bg-yellow">
                            <label th:text="#{login.email.label}">Your email</label>
                            <input name="username" class="form-control" th:placeholder="#{login.email}" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label th:text="#{login.password}">Your password</label>
                            <a class="float-right" th:href="@{/auth/forgot-password}" th:text="#{login.forgotPassword}">Forgot?</a>
                            <input class="form-control" name="password" placeholder="******" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block"><i class="bi bi-box-arrow-in-right"></i><span th:text="#{login}"> Login</span></button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
                <div class="border-top card-body text-center">
                    <label th:text="#{login.createAccountMessage}">Dont have an account yet?</label>
                    <a class="float-right" th:href="@{/registration}" th:text="#{login.singUp}">Sign up</a>
                </div>
            </div> <!-- card.// -->
<!--        </aside> &lt;!&ndash; col.// &ndash;&gt;-->
    </div> <!-- row.// -->

</div>
</div>
</body>
</html>