<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}" id="bootstrap-css" >
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/functions.js}"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
<!--        <aside class="col-sm-3">-->
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                </header>
                <article class="card-body">
                    <form method="post" th:action="@{/login}">
                        <div style="color: red" th:if="${param.error}">Incorrect email or password.</div>
                        <div style="color: green" th:if="${param.logout}">You have been logged out.</div>
                        <div class="form-group">
                            <label>Your email</label>
                            <input name="username" class="form-control" placeholder="Email" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Your password</label>
                            <a class="float-right" th:href="@{/auth/forgot-password}">Forgot?</a>
                            <input class="form-control" name="password" placeholder="******" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
                <div class="border-top card-body text-center">Dont have an account yet? <a th:href="@{/registration}">Sign up</a></div>
            </div> <!-- card.// -->

<!--        </aside> &lt;!&ndash; col.// &ndash;&gt;-->
    </div> <!-- row.// -->

</div>
</div>
</body>
</html>